.logo{
  height: 50px;
  width: 50px;
  padding: 1px;
  border-radius: 50%;
  margin-right: 2rem;
}
.navBar{
  background: #b11616 !important;
  box-shadow: inset 19px 19px 39px #5a0b0b,
              inset -19px -19px 39px #ff2121 !important;   

       
}
.pageContainer{
  margin-top: 5rem;
}

